name: Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write
  id-token: write
  attestations: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: Cache GLFW
        id: cache-glfw
        uses: actions/cache@v5
        with:
          path: ${{ github.workspace }}/glfw
          key: glfw-${{ runner.os }}-${{ hashFiles('glfw/**') }}
      
      - name: Dependencies
        run: bash ./setup.sh

      - name: Build Snake
        run: bash ./build.sh

      - name: Attest build provenance
        uses: actions/attest-build-provenance@v3
        with:
          subject-path: "${{ github.workspace }}/Snake/build/Snake"

      - name: Upload artifact
        uses: softprops/action-gh-release@v2
        if: github.ref_type == 'tag'
        with:
          files: "${{ github.workspace }}/Snake/build/Snake"
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

