name: Build

on:
  workflow_dispatch
jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        build_type: [Release]
        c_compiler: [clang, cl]
        include:
          - os: windows-latest
            c_compiler: cl
            cpp_compiler: cl
            generator_args: "-A x64"
          - os: ubuntu-latest
            c_compiler: clang
            cpp_compiler: clang++
            generator_args: ""
          - os: macos-latest
            c_compiler: clang
            cpp_compiler: clang++
            generator_args: ""
        exclude:
          - os: windows-latest
            c_compiler: clang
          - os: ubuntu-latest
            c_compiler: cl
          - os: macos-latest
            c_compiler: cl

    steps:
    - uses: actions/checkout@v4

    - name: Configure CMake for GLFW
      run: >
        cmake -S ${{ github.workspace }}/glfw -B ${{ github.workspace }}/glfw/build
        -DCMAKE_C_COMPILER=${{ matrix.c_compiler }}
        -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}
        -DCMAKE_INSTALL_PREFIX=${{ github.workspace }}/glfw/install
        -DBUILD_SHARED_LIBS=OFF
        -DGLFW_BUILD_EXAMPLES=OFF
        -DGLFW_BUILD_TESTS=OFF
        -DGLFW_BUILD_DOCS=OFF
        -DGLFW_INSTALL=ON
        ${{ matrix.generator_args }}

    - name: Build and install GLFW
      run: >
        cmake --install ${{ github.workspace }}/glfw/build
        --config ${{ matrix.build_type }}

    - name: Configure Snake
      run: >
        cmake -S ${{ github.workspace }}/Snake -B ${{ github.workspace }}/Snake/build
        -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}
        -DGLFW_INCLUDE_DIR=${{ github.workspace }}/glfw/install/include
        -DGLFW_LIB_DIR=${{ github.workspace }}/glfw/install/lib
        ${{ matrix.generator_args }}

    - name: Build Snake
      run: >
        cmake --build ${{ github.workspace }}/Snake/build
        --config ${{ matrix.build_type }}
        --target Snake

    - name: Upload binary
      uses: actions/upload-artifact@v4
      with:
        name: Snake-${{ matrix.os }}
        path: |
          ${{ github.workspace }}/Snake/build/${{ matrix.build_type }}/Snake.exe
          ${{ github.workspace }}/Snake/build/Snake

